.button_size_s {
  font-size: var(--button-size-s-font-size);
  line-height: var(--button-size-s-line-height);
  letter-spacing: var(--button-size-s-letter-spacing);
  padding: var(--button-size-s-padding-top) var(--button-size-s-padding-right) var(--button-size-s-padding-bottom) var(--button-size-s-padding-left);
}
