.link_action_go {
  .icon {
    display: block;
    width: 33px;
    margin-top: 10px;
  }

  @media (--hover) {
    .icon {
      transition: transform ease-in .15s,
                  opacity ease-in .15s;
      transform-origin: 0 0;
      opacity: 0;
      transform: scale(0, 1);
    }

    &:hover {
      .icon {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}
