{% from 'link/link.njk' import link %}
{% from 'icon/icon.njk' import icon %}
{#
  @param {Object} data
#}
{% macro link_action_back(data) %}
  {{ link({
    block: 'link',
    mods: data.mods | merge({ action: 'back', view: 'text' }),
    mix: data.mix,
    classname: data.classname,
    url: data.url,
    target: data.target,
    attrs: data.attrs,
    icon: icon({
      mods: {
        size: 'm'
      },
      content: 'src/components/theme/_default/arrow-left.svg' | svgContents | svgo
    }),
    text: data.text
  }) }}
{% endmacro %}
