@define-mixin layout {
  display: block;
  box-sizing: border-box;
  padding-left: var(--grid-side-space);
  padding-right: var(--grid-side-space);
  max-width: var(--grid-max-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
