.theme__color_override_inverse {
  --color-link-view-default-typo-base: var(--color-link-view-text-typo-base);
  --color-link-view-default-border-base: var(--color-link-view-text-border-base);
  --color-link-view-default-typo-hovered: var(--color-link-view-text-typo-hovered);
  --color-link-view-default-border-hovered: var(--color-link-view-text-border-hovered);

  --color-content-link-typo-base: var(--color-link-view-default-typo-base);
  --color-content-link-typo-hovered: var(--color-link-view-default-typo-hovered);
  --color-content-link-border-base: var(--color-link-view-default-border-base);
  --color-content-link-border-hovered: var(--color-link-view-default-border-hovered);
}
