.section_view_main {
  .section__inner {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .section__title {
    margin-bottom: .25em;
  }

  .section__foot {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: .5em;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
