@define-mixin text_size_body-short-l {
  font-size: var(--text-body-short-l-font-size);
  line-height: var(--text-body-short-l-line-height);
  letter-spacing: var(--text-body-short-l-letter-spacing);
}
