@define-mixin text_size_body-short-s {
  font-size: var(--text-body-short-s-font-size);
  line-height: var(--text-body-short-s-line-height);
  letter-spacing: var(--text-body-short-s-letter-spacing);
}
