@define-mixin text_size_body-long-xl {
  font-size: var(--text-body-long-xl-font-size);
  line-height: var(--text-body-long-xl-line-height);
  letter-spacing: var(--text-body-long-xl-letter-spacing);
}
