@define-mixin text_size_subheader-xl {
  font-size: var(--text-subheader-xl-font-size);
  line-height: var(--text-subheader-xl-line-height);
  letter-spacing: var(--text-subheader-xl-letter-spacing);
}
