@define-mixin text_size_body-short-m {
  font-size: var(--text-body-short-m-font-size);
  line-height: var(--text-body-short-m-line-height);
  letter-spacing: var(--text-body-short-m-letter-spacing);
}
