@define-mixin text_size_body-short-xl {
  font-size: var(--text-body-short-xl-font-size);
  line-height: var(--text-body-short-xl-line-height);
  letter-spacing: var(--text-body-short-xl-letter-spacing);
}
