@mixin link_colorized
  minor, /* $viewName */

  var(--color-link-view-minor-typo-base), /* $typoColorBase */
  var(--color-link-view-minor-border-base), /* $borderColorBase */

  var(--color-link-view-minor-typo-hovered), /* $typoColorHovered */
  var(--color-link-view-minor-border-hovered), /* $borderColorHovered */

  var(--color-link-view-minor-typo-disabled), /* $typoColorDisabled */
  var(--color-link-view-minor-border-disabled) /* $borderColorDisabled */
;
