@mixin link_colorized
  text, /* $viewName */

  var(--color-link-view-text-typo-base), /* $typoColorBase */
  var(--color-link-view-text-border-base), /* $borderColorBase */

  var(--color-link-view-text-typo-hovered), /* $typoColorHovered */
  var(--color-link-view-text-border-hovered), /* $borderColorHovered */

  var(--color-link-typo-disabled), /* $typoColorDisabled */
  var(--color-link-border-disabled) /* $borderColorDisabled */
;
