@mixin link_colorized
  default, /* $viewName */

  var(--color-link-view-default-typo-base), /* $typoColorBase */
  var(--color-link-view-default-border-base), /* $borderColorBase */

  var(--color-link-view-default-typo-hovered), /* $typoColorHovered */
  var(--color-link-view-default-border-hovered), /* $borderColorHovered */

  var(--color-link-typo-disabled), /* $typoColorDisabled */
  var(--color-link-border-disabled) /* $borderColorDisabled */
;
