.theme_root_default {
  --typography-headline-font-weight: 700;
  --typography-body-font-size: var(--text-body-long-l-font-size);
  --typography-body-line-height: var(--text-body-long-l-line-height);
  --typography-body-letter-spacing: var(--text-body-long-l-letter-spacing);
  --typography-body-font-weight-base: 400;
  --typography-body-font-weight-bold: 600;
  --typography-controls-font-weight: 400;
}
